<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>page2.html</title>
</head>

<body>
	<h2> My Apps </h2>
	<center>
	<iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/wogisXZKGkpFgVNjRZ7_b1KF1W9vdm2etHPm1wyYUT2/embed?nosource">
	</iframe>
	<iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/Boc5eWlD_7moARkJBbbzVcYU0NClFl09w9e4TlkvDAs/embed?nosource"></iframe>
		<iframe width="392" height="620" style="border: 0px;" src="https://studio.code.org/projects/applab/CnWGaZ-ArElyhy5664XP-I_8OCsTO3lN9fYzph4_SPn/embed?nosource"></iframe>
	</center>
</body>
</html>


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4A4A4A;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
